host_ips:
  master: "{{ ec2_vars.master.pri_ip }}"
  dev: "{{ ec2_vars.dev.pri_ip }}"
  db: "{{ ec2_vars.db.pri_ip }}"
  lb: "{{ ec2_vars.lb.pri_ip }}"
  wbs1: "{{ ec2_vars.wbs1.pri_ip }}"
  wbs2: "{{ ec2_vars.wbs2.pri_ip }}"


