127.0.0.1 localhost

{{ ec2_vars.master.pri_ip }} master
{{ ec2_vars.dev.pri_ip }} dev
{{ ec2_vars.db.pri_ip }} db
{{ ec2_vars.lb.pri_ip }} lb
{{ ec2_vars.wbs1.pri_ip }} wbs1
{{ ec2_vars.wbs2.pri_ip }} wbs2

# The following lines are desirable for IPv6 capable hosts
::1 ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts
