<!DOCTYPE html>
<html>
<head>
<title>Insert data to PostgreSQL with php</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
li {listt-style: none;}
</style>
</head>
<body>
<h1>Welcome to this Application</h1>
<h2>Please fill in you details below</h2>
<ul>
<form name="insert" action="insert.php" method="POST" >
<li>First Name:*</li><li><input type="text" name="first_name" /></li>
<li>Surname:*</li><li><input type="text" name="surname" /></li>
<li>Age:</li><li><input type="number" name="age" /></li>
<li><a href=“insert.php”><input type="submit" name="submit" /></a></li>
</form>
</ul>
</body>
</html>

