<!DOCTYPE html>
<html>
<head>
<title>Post Successful</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Congratulations Your post was Successful</h1>
<?php echo "$_POST[first_name] $_POST[surname] was added to the database." ?>
<p><em>Thank you for using this Application.</em></p>
</body>
</html>

<?php
$db = pg_connect("host={{ db_host }} port=5432 dbname={{ login.name }} user={{ login.name }} password={{ login.password }}");
if (!$db) 
{
  echo "ERROR!!! Could not connect to db.\n";
  exit;
}

if (isset($_POST['submit'])) 
{
$query = "INSERT INTO staff (first_name, surname, age) VALUES ('$_POST[first_name]','$_POST[surname]','$_POST[age]')";
$result = pg_query($query); 
}

?>
